<%= form_with model: @document, local: true do |login| %>

  <div class="row">
    <div class="col s6 offset-m3 login">
      <p>
        <%= login.label :username %><br>
        <%= login.text_field :username %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s6 offset-m3 login">
      <p>
        <%= login.label :password %><br>
        <%= login.text_field :password %>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col s7 offset-m5 login">
      <p>
      <%= login.submit :value => "login", :class => "button" %>
      </p>
    </div>
  </div>
<% end %>