<%= form_with model: @document, local: true do |form| %>
 
  <% if @document.errors.any? %>
    <div id="error_explanation">
      <h3>
        <%= pluralize(@document.errors.count, "error") %> prohibited
        this document from being saved:
      </h3>
      <ul>
        <% @document.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
  </div>
  <div>
    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>
  </div>
  <div>
    <span class="submit">
      <p>
        <%= form.submit %>
      </p>
    </span>
    <span class="back">
      <p>
        <%= link_to 'Back', documents_path %>
      </p>
    </span>
  </div>
<% end %>