<p>
  <strong>Title:</strong>
  <%= @document.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @document.text %>
</p>

<h2>Reviews</h2>
<% @document.reviews.each do |review| %> 
  
  <p>
    <strong>review:</strong>
    <%= review.body %>
  </p>
  <p>
    <strong>reviewer:</strong>
    <%= review.reviewer %>
  </p>
<% end %>


<h2>Add a review:</h2>
<%= form_with(model: [ @document, @document.reviews.build ]) do |form| %>
  <p>
    <%= form.label :reviewer %><br>
    <%= form.text_field :reviewer %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>